@page "{id}"
@model MyApp.Namespace.RateModel
@{
    ViewData["Title"] = "Rate todo";
    
}

<h3>Comments:</h3>

    @if (Model.Comments != null && Model.Comments.Any())
    {
        <ul>
            @foreach (var comment in Model.Comments)
            {
                <li>@comment</li>
            }
        </ul>
    }
    else
    {
        <p>No comments yet.</p>
    }


<link href="~/css/jquery.rateyo.min.css" rel="stylesheet" />
<form method="post">
    <div id="rateIt"></div>
    <br>
    <div>
        <button type="submit" class="btn btn-primary" asp-page-handler="Rate">Rate it</button>
        <input name="_rate" type="hidden" id="rating" />
    </div>
    <div style="margin-top: 20px;">
        <textarea name="comment" placeholder="Add a comment" rows="4" cols="50"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" asp-page-handler="AddComment">Add Comment</button>
    </div>
</form>

 
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.rateyo.min.js"></script>
<script>
 $(function () {

        var $rateYo = $("#rateIt").rateYo({
            rating: 0,
            fullStar: true,
            onChange: function (rating, rateYoInstance) {
                $('#rating').val(rating);
            }
        });
        
        $("#getRating").click(function () {

            /* get rating */
            var rating = $rateYo.rateYo("rating");

            window.alert("You give " + rating + " rate!");
        });
    });
 
</script>


